header {
    background: rgba(83,127,102, 0.6);
    height: 100px;
}
.logo {
    width: 110px;
    margin-left: 45px;
}

.menu-principal {
    position: absolute;
    top: 45px;
    right: 50px;
}

.menu-principal a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px 5px #c21d1d;
    font-weight: bold;
    transition: 700ms all;
}

.menu-principal li:hover , a:hover{
    
    color: #060606;
    text-shadow: -2px 2px 2px #060606;
    transform: scale(1.1);
    
}

.lista-menu {
    display: inline-flex;
}

.lista-menu li {
    margin-left: 12px;
}

main img {
    width: 100%;
}


footer {
    margin: 20px 0 20px 0;
    background: rgba(253,253,253, 0.4);
    text-align: center;
}

.textos-imagem, titulo {
    letter-spacing: 1px;
    color: white;
    font-size: 25px;
    position: absolute;
    margin-top: 220px;
    margin-left: 730px;
    margin-right: 200px;
    
}

.imagem-salao {
    padding: 0;
    width: 100%;
    height: 600px;
    background: no-repeat center/cover url(/assets/Home-Nova-min.jpg);
}
