

.titulo-sobre{
    
    letter-spacing: 1px;
    color: #FDFDFD;
    font-size: 35px;
    position: absolute;
    margin-top: 160px;
    margin-left: 890px;
    margin-right: 200px;
    
}

.paragrafo-sobre {

    letter-spacing: 1px;
    color: #FDFDFD;
    font-size: 27px;
    position: absolute;
    margin-top: 200px;
    margin-left: 730px;
    margin-right: 150px;
    
}

.botao-sobre {
    position: absolute;
    margin-top: 340px;
    margin-left: 870px;
    margin-right: 200px;
    border-radius: 15px;
    text-transform: uppercase;
    background: #069cc2; 
    border-radius: 6px;          
    padding: 15px;
    cursor: pointer; 
    border: none; 
    font-size: 16px;
    color: #FDFDFD;
}

.imagem-salao {
    padding: 0;
    width: 100%;
    height: 600px;
    background: no-repeat center/cover url(../assets/Home-Nova-min.jpg);
}





