main {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.mapa {
    margin: 20px 100px 20px 100px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
