header {
    background: linear-gradient(#060606 50%, #C78C19);
    height: 200px;
}
.logo {
    width: 180px;
    margin-left: 45px;
}

.menu-principal {
    position: absolute;
    top: 100px;
    right: 70px;
}

.menu-principal a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px 5px #c21d1d;
    font-weight: bold;
    transition: 700ms all;
}

.menu-principal li:hover , a:hover{
    
    color: #ffbf00;
    transform: scale(1.1);
    
}

.lista-menu {
    display: inline-flex;
}

.lista-menu li {
    margin-left: 12px;
}

.imagem-principal {
    width: 940px;
    margin: 0px auto;
    padding-top: 15px;
}
main img {
    width: 100%;
}


footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #C78C19;
    text-align: center;
    word-wrap:break-word;
}


