
header {
    height: 100px;
    background-color: #3d405b;
    margin: 0;
    
}
.logo {
    margin-top: 15px;
    width: 50px;
    margin-left: 45px;
}

.menu-principal {
    position: absolute;
    top: 47px;
    right: 70px;
}

.menu-principal a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px 5px #c21d1d;
    font-weight: bold;
    transition: 700ms all;
    font-size: 16px;
}

.lista-menu {
    display: inline-flex;
}

.lista-menu li {
    margin-left: 12px;
}
.textos-main {
    position: absolute;
    margin-top: 250px;
    color: #fdfdfd;
    margin-left: 34%;
    font-size: 6em;    
}
.imagem-principal {
    padding: 0;
    width: 100%;
    height: 600px;
    background: no-repeat center/cover url(../assets/banner.jpg);
}

.nome-barbiaria {
position: absolute;
 margin-left: 120px;
 margin-top: -50px;
 font-size: 2em;
 color: #FDFDFD;
 }

.botao-sobre-index {
    position: absolute;
    margin-top: 360px;
    margin-left: 586px;
    margin-right: 200px;
    border-radius: 15px;
    text-transform: uppercase;
    background: #069cc2; 
    border-radius: 6px;          
    padding: 15px;
    cursor: pointer; 
    border: none; 
    font-size: 16px;
    color: #FDFDFD;
}



footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3d405b;
    text-align: center;
    word-wrap:break-word;
}


