header {
    background: #060606;
    height: 100px;
}
.logo {
    width: 110px;
    margin-left: 45px;
}

.menu-principal {
    position: absolute;
    top: 45px;
    right: 50px;
}

.menu-principal a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px 5px #c21d1d;
    font-weight: bold;
    transition: 700ms all;
}

.menu-principal li:hover , a:hover{
    
    color: #ffbf00;
    transform: scale(1.1);
    
}

.lista-menu {
    display: inline-flex;
}

.lista-menu li {
    margin-left: 12px;
}

main img {
    width: 100%;
}


footer {
    margin: 20px 0 20px 0;
    background: rgba(253,253,253);
    text-align: center;
    word-wrap:break-word;
}


