.titulo-icons {
    position: absolute;
    margin-top: 40px;
    margin-left: 600px;
    font-size: x-large;

}
.icon-cabelo {

    width: 122px;
    height: 117px;
    margin-top: 30%;
}

.icon-barba {

    
    width: 122px;
    height: 117px;
    margin-top: 30%;

}

.icon-game {

    width: 122px;
    height: 117px;
    margin-top: 30%;

}


.icon-bebida {

    width: 122px;
    height: 117px;
    margin-top: 30%;

}

.icon-noivo {

    width: 122px;
    height: 117px;
    margin-top: 30%;

}

.icon-quimica {
	
    width: 122px;
    height: 117px;
    margin-top: 30%;

}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 25%;
	vertical-align: top;
	margin: 20px 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #3d405b;;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 32px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

.textos-icons {
	margin-left: 160px;
	
}