.div-contato {
    width: 940px;
}
.logo-contato {
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
}

h1 {
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 1.3em;
    margin-top: 12px;
}



footer {
    margin-top: 8px;
}