main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    width: 940px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.container p {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 10px;
}

.container a {
    margin: 5px 0 5px 0;
    text-transform: uppercase;
    color: #537F66;;
    text-decoration: none;
    transition: 550ms;
    font-size: 1.3em;
}

.container a:hover {
    transform: scale(1.6em);
    color: #060606;
    font-weight: bold;
    text-decoration: underline;

}
.container img {
    width: 250px;
    height: 250px;
    
}

caption {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
}

.tabela-horarios {
    display: block;
    margin: 10px;
    font-size: 20px;
}

.tabela-horarios td, tr, th {
    margin: 5px;
    border: 1px solid #ffbf00
}
